body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    outline: none;
    background-color: rgba(19, 1, 1, 0.938);
}
/* ---------------------------header------------------------------- */
header {
    background-image: url(./asset/moneyheistimg/img/section_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.logo-links {
    position: relative;
    height: auto;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

}

.logo-links .logo {
    padding: 10px 2%;
    width: 100px;
    height: 25px;
}

.links ul {
    display: flex;
}

.links ul li {
    list-style: none;
    margin-left: 30px;
}

.links ul li a {
    text-decoration: none;
    color: darkgray;
}

.links ul li a:hover {
    color: white;
}

.links ul li a:current {
    color: white;
}

.logo-links .search-bar {
    display: flex;
    padding: 10px;

}

form input {
    padding: 3px 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    height: 21px;
    color: white;
}

form input::placeholder {
    color: white;
}

form .profile-photo {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    margin-left: 10px;
}

.hero {
    position: relative;
    bottom: 10px;
    padding: 30px ;
    width: 300px;

}

.hero {
    color: white;
}

.design {
    background-color: red;
    padding: 5px;
    align-content: center;
}

.hero .rating {
    color: gold;
}

.hero .genre {
    color: grey;
}

.hero .genre span {
    padding: 0px 10px;
}

.hero .button {
    position: relative;
    top: 10px;
}

.hero button:hover {
    background-color: rgb(46, 2, 2);
}

.hero button {
    padding: 5px 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.hero button .fa-play {
    padding: 0 5px;
}

.hero p {
    font-size: 10px;
    margin-top: 15px;
}
/* ------------------body---------------------------- */
main {

    color: white;
    bottom: 250px;
}

.cards {
    display: flex;
    padding: 20px;
    margin-bottom: 12px;
}

.cards img {
    width: 140px;
    height: 250;
    border-radius: 10px;
    margin-left: 8px;
}

.label {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.type {
    font-size: 20px;
    text-decoration: underline;
    padding-left: 30px;
}

.view {
    display: flex;
    padding-right: 20px;
}

.view-note {
    color: gold;
    padding: 0 15px;
}

.view-note a {
    color: gold;
    padding: 0 10px;
}

.view-note span {
    color: white;
}

.icon {
    position: relative;
    top: 15px;
}

.icon .fa-greater-than {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.icon .fa-less-than {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}
/*-----------------------footer-----------------------*/
.foot{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.foot h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.foot .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.foot .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.foot .row{
    align-items: flex-start;
    padding: 10px 0;
}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
