.body{
   position: relative;
   padding: 20px;
}

.allprops{
    position: relative;
    margin-left: 10%;
    width: 80%;
}

.h1{
    color: #ffffff;
}

.props{
    position: absolute;
    top: 100px;
    height: 360px;
    width: 40%;
}

.button{
    display: inline;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border:  none;
    border-radius: 28px;
}

.play{
    position: absolute;
    left: 18px;
}

.overview{
    color: #ffffff;
    font-weight: 50;
}

.year{
    color: #ffffff;
    font-weight: 50;
}

.tick{
    position: absolute;
    top: 185px;
    padding-left: 10px;
}