@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: #0c1516;
  --background-end-rgb: #0c1516;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #0c1516;
    --background-end-rgb: #0c1516;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
}
