.buttonClose {
    position: absolute; 
    background-color: #00000025;
    text-align: center;
    width: 16%;
    left: 42%;
    top: 80px;
    border-radius: 24px;

}

.pageButtons{
    display: inline;
    border: none;
    height: 48px;
    width: 48px;
    background-color: transparent;
}

.Page{
    display: inline;
    color: #ffffff75;
    height: 48px;
    width: 80px;
    font-size: 20px;
}

.clear{
    width: 48px;
    background-color: transparent;
    border: none;
}